DATABASE_URL=mongodb://localhost:27017/BondageClubDatabase
DATABASE_NAME=BondageClubDatabase
ACCOUNT_COLLECTION=Accounts
PORT=4288
EMAIL_PASSWORD=
EMAIL_ADMIN=
EMAIL_HOST=mail.bondageprojects.com
EMAIL_PORT=465
EMAIL_USER=donotreply@bondageprojects.com
EMAIL_FROM=donotreply@bondageprojects.com
IP_CONNECTION_LIMIT=64
IP_CONNECTION_RATE_LIMIT=2
CLIENT_MESSAGE_RATE_LIMIT=20
MAX_IP_ACCOUNT_PER_DAY=12
MAX_IP_ACCOUNT_PER_HOUR=4
# CORS_ORIGIN0=https://www.bondageprojects.com
# PRODUCTION0=https://www.bondageprojects.com
